{
   "CaseCode": "off",
   "KeepHistory": "off",   
   "ProjectSpace": "#.AWSTools",
   "Variables": "off",
   "URL": "https://github.com/the-carlisle-group/AWSTools",
   "Public": 1,
   "Version": "0.0.4",
   "Dependencies": [
      {
         "URL": "https://github.com/the-carlisle-group/Rumba",
         "Version": "0.1.12"
      }
   ]
}