{
  "CaseCode": "off",
  "Dependencies": [
    {
      "URL": "https://github.com/the-carlisle-group/Rumba",
      "Version": "0.1.12"
    }
  ],
  "KeepHistory": "off",
  "ProjectSpace": "#.AWSTools",
  "Public": 1,
  "URL": "https://github.com/the-carlisle-group/AWSTools",
  "Variables": "off",
  "Version": "0.0.5"
}
